.navbar {
    position: absolute;
    left: 85%;
    top: 24px;
}

.logotx {
    padding-top: 18px;
    display: block;
    width: 80px;
    margin: auto;
}

.rahim {
    width: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.footer {
    position: absolute;
    top: 771px;
    height: 100px;
    width: 100%;
    background-color: #e5e5e5;
    text-align: center;
}

.fot {
    left: 7%;
    right: 7%;
    margin-top: 30px;
}

.txt {
    position: absolute;
    width: 292px;
    height: 130px;
    left: 39px;
    top: 179px;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.025em;
    color: #000000;
    mix-blend-mode: normal;
    margin: auto;
    display: block;
    align-items: center;
}